body {
    background-color: grey;
    background-image: url('../IMG_7947-77.JPG');
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100vh;
    width: 100vw;    
}

.container {
    height: 100%;
    position: relative;
    width: 100%;        
}

.card {
    align-items: center;    
    display: flex;
    height: 100%;    
    justify-content: center;
}

svg {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;    
    width:100%;

}





.resW, .transW {
  opacity:0;
}